body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Header */

header  {
    padding: 20px;
    text-align: center;
    height: 400px;
    background-image: url("../images/Northern_Lights.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

header .mobile {
    display: none;
}

header .logo {
    background-image: url("../images/Flag.png");
    background-size: 300px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 300px;
    text-indent: -999999999999999px;
    height: 215px;
    position: relative;
    top: -10px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* Responisve Rules */
@media screen and (max-width: 820px) {

    header {
        height: 250px;
        background-position: 0 -40px;
    }

    header .logo {
        background-size: 100px;
        display: inline-block;
        position: relative;
        top: 20px;
    }

    header .mobile {
        display: inline-block;
    }

    header .desktop {
        display: none;
    }
}

/* Features */

.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure{
    margin: auto;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
}

.features figure img {
    border: 1px solid white;
    width: 200px;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* Footer */

footer {
    background: black;
    padding: 20px 20px;
    color: gray;
    text-align: center;
    font-size: 12px;
}
